:root {--primary-color: #4200FF;
;
.name {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 96px;
  margin-top: 169px;
  line-height: 109px;
}
.anna {
  margin-left: 140px;
}
.front {
  margin-left: 287px;
  color: var(--primary-color);
}
.graph {
  margin-left: 140px;
  color: var(--primary-color);
}
